<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526212818388-l7b4a1402tr8e9mgql0qol8bc5t21u0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526212818388-l7b4a1402tr8e9mgql0qol8bc5t21u0h</string>
	<key>API_KEY</key>
	<string>AIzaSyD9GuIwxq5O8kb7lpgO1vLjxrijqP7KwmU</string>
	<key>GCM_SENDER_ID</key>
	<string>526212818388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foolstack.subscriptionApp</string>
	<key>PROJECT_ID</key>
	<string>subscription-manager-312109</string>
	<key>STORAGE_BUCKET</key>
	<string>subscription-manager-312109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526212818388:ios:ec0f12aa1bbd1bda696241</string>
</dict>
</plist>